<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.bigserj">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Main project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".homeWork3.LeakCanaryTest">
        <!--  -->
        <!-- говорим что за активити main и пишем что внутри -->
        <activity android:name="com.android.bigserj.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- просто говорим (декларируем) что есть такой активити с дз1 -->
        <activity android:name="com.android.bigserj.homework1.MainActivity"/>
        <activity android:name="com.android.bigserj.homeWork2.HomeWork2Activity"/>
        <activity android:name="com.android.bigserj.homeWork3.HomeWork3Activity"/>
        <activity android:name="com.android.bigserj.classWork3.ClassWork3Activity"/>
        <activity android:name="com.android.bigserj.classwork2.ClassWork2Activity"/>



    </application>

</manifest>